calendar-connector/src/test/resources/automation-test-flows.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.4.0"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:google-calendars="http://www.mulesoft.org/schema/mule/google-calendars"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/google-calendars http://www.mulesoft.org/schema/mule/google-calendars/current/mule-google-calendars.xsd">

	<context:property-placeholder location="automation-credentials.properties" />
	
	<google-calendars:config-with-oauth	name="Google_Calendars" consumerKey="${google.calendars.consumer.key}"
		consumerSecret="${google.calendars.consumer.secret}" doc:name="Google Calendars" applicationName="${google.calendars.application.name}">
		<google-calendars:oauth-callback-config domain="${google.calendars.domain}" localPort="${google.calendars.localPort}" remotePort="${google.calendars.remotePort}"/>
	</google-calendars:config-with-oauth>

	<flow name="create-calendar" doc:name="create-calendar">
		<google-calendars:create-calendar calendar-ref="#[payload.calendarRef]" accessTokenId="accessTokenId" config-ref="Google_Calendars"/>
	</flow>
	
	<flow name="delete-calendar" doc:name="delete-calendar">
	    <google-calendars:delete-calendar id="#[payload.id]" accessTokenId="accessTokenId" config-ref="Google_Calendars"/>
	</flow>
	
	<flow name="get-calendar-by-id" doc:name="get-calendar-by-id">
	    <google-calendars:get-calendar-by-id id="#[payload.id]" accessTokenId="accessTokenId" config-ref="Google_Calendars" />
	</flow>
	
	<flow name="get-calendar-list" doc:name="get-calendar-list">
	    <google-calendars:get-calendar-list config-ref="Google_Calendars" accessTokenId="accessTokenId" />
	</flow>
	
	<flow name="batch-insert-calendar" doc:name="batch-insert-calendar">
	    <google-calendars:batch-insert-calendar config-ref="Google_Calendars" calendars-ref="#[payload.calendarsRef]" accessTokenId="accessTokenId" />
	</flow>
	
	<flow name="batch-delete-calendar" doc:name="batch-delete-calendar">
	    <google-calendars:batch-delete-calendar config-ref="Google_Calendars" calendars-ref="#[payload.calendarsRef]" accessTokenId="accessTokenId" />
	</flow>
	
	<flow name="insert-event" doc:name="insert-event">
	    <google-calendars:insert-event config-ref="Google_Calendars" calendarId="#[payload.calendarId]" calendarEvent-ref="#[payload.calendarEventRef]" accessTokenId="accessTokenId"/>
	</flow>
	
	<flow name="get-event-by-id" doc:name="find-event-by-id">
	    <google-calendars:get-event-by-id config-ref="Google_Calendars" calendarId="#[payload.calendarId]" eventId="#[payload.eventId]" accessTokenId="accessTokenId" />
	</flow>
	
	<flow name="delete-event" doc:name="delete-event">
	    <google-calendars:delete-event config-ref="Google_Calendars" calendarId="#[payload.calendarId]" eventId="#[payload.eventId]" accessTokenId="accessTokenId" />
	</flow>
	
	<flow name="quick-add-event" doc:name="quick-add-event">
	    <google-calendars:quick-add-event config-ref="Google_Calendars" calendarId="#[payload.calendarId]" text="#[payload.text]" accessTokenId="accessTokenId" />
	</flow>
	
	<flow name="batch-insert-event" doc:name="batch-insert-event">
	    <google-calendars:batch-insert-event config-ref="Google_Calendars" calendarId="#[payload.calendarId]" calendarEvents-ref="#[payload.calendarEventsRef]" accessTokenId="accessTokenId"/>
	</flow>
	
	<flow name="update-event" doc:name="update-event">
	    <google-calendars:update-event config-ref="Google_Calendars" calendarId="#[payload.calendarId]" eventId="#[payload.eventId]" calendarEvent-ref="#[payload.calendarEventRef]" accessTokenId="accessTokenId"/>
	</flow>
	
	<flow name="batch-delete-event" doc:name="batch-delete-event">
	    <google-calendars:batch-delete-event config-ref="Google_Calendars" calendarId="#[payload.calendarId]" calendarEvents-ref="#[payload.calendarEventsRef]" accessTokenId="accessTokenId" />
	</flow>
	
	<flow name="update-calendar" doc:name="update-calendar">
		<google-calendars:update-calendar config-ref="Google_Calendars" id="#[payload.id]" calendar-ref="#[payload.calendarRef]" accessTokenId="accessTokenId" />	
	</flow>
	
	<flow name="insert-acl-rule" doc:name="insert-acl-rule">
		<google-calendars:insert-acl-rule config-ref="Google_Calendars" calendarId="#[payload.calendarId]" scope="#[payload.scope]" scopeType="#[payload.scopeType]" role="#[payload.role]"  accessTokenId="accessTokenId" />
	</flow>
		
	<flow name="get-acl-rule-by-id" doc:name="get-acl-rule-by-id">
		<google-calendars:get-acl-rule-by-id config-ref="Google_Calendars" calendarId="#[payload.calendarId]" ruleId="#[payload.ruleId]" accessTokenId="accessTokenId" />		
	</flow>
	
	<flow name="update-acl-rule" doc:name="update-acl-rule">
		<google-calendars:update-acl-rule config-ref="Google_Calendars" calendarId="#[payload.calendarId]" ruleId="#[payload.ruleId]" accessTokenId="accessTokenId" />
	</flow>
	
	<flow name="get-events" doc:name="get-events">
	    <google-calendars:get-events config-ref="Google_Calendars" maxResults="#[payload.maxResults]" calendarId="#[payload.calendarId]" showDeleted="#[payload.showDeleted]" accessTokenId="accessTokenId" />
	</flow>
	
	<flow name="get-events-using-query" doc:name="get-events-using-query">
	    <google-calendars:get-events config-ref="Google_Calendars" calendarId="#[payload.calendarId]" accessTokenId="accessTokenId" query="#[payload.query]" />
	</flow>
	
</mule>
