tasks-connector/src/test/resources/automation-test-flows.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.4.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:google-tasks="http://www.mulesoft.org/schema/mule/google-tasks"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/google-tasks http://www.mulesoft.org/schema/mule/google-tasks/1.0/mule-google-tasks.xsd">

	<context:property-placeholder location="automation-credentials.properties" />

	<google-tasks:config-with-oauth name="Google_Tasks"
		consumerKey="${google.tasks.consumer.key}" consumerSecret="${google.tasks.consumer.secret}"
		applicationName="${google.tasks.application.name}" doc:name="Google Tasks">
		<google-tasks:oauth-callback-config
			domain="${google.tasks.domain}" localPort="${google.tasks.localPort}"
			remotePort="${google.tasks.remotePort}" />
	</google-tasks:config-with-oauth>

	<flow name="insert-task">
		<google-tasks:insert-task accessTokenId="accessTokenId"
			config-ref="Google_Tasks" task-ref="#[payload.taskRef]" taskListId="#[payload.taskListId]" />
	</flow>

	<flow name="insert-task-list">
		<google-tasks:insert-task-list
			config-ref="Google_Tasks" taskList-ref="#[payload.taskListRef]"
			accessTokenId="accessTokenId" />
	</flow>

	<flow name="get-task-list-by-id">
		<google-tasks:get-task-list-by-id
			config-ref="Google_Tasks" taskListId="#[payload.taskListId]"
			accessTokenId="accessTokenId" />
	</flow>

	<flow name="delete-task">
		<google-tasks:delete-task config-ref="Google_Tasks"
			taskListId="#[payload.taskListId]" taskId="#[payload.taskId]"
			accessTokenId="accessTokenId" />
	</flow>

	<flow name="move-task-parent">
		<google-tasks:move config-ref="Google_Tasks"
			taskListId="#[payload.taskListId]" taskId="#[payload.taskId]" parentId="#[payload.parentId]"
			accessTokenId="accessTokenId" />
	</flow>
	
	<flow name="move-task-reorder">
	    <google-tasks:move config-ref="Google_Tasks" taskListId="#[payload.taskListId]" taskId="#[payload.taskId]" previousId="#[payload.previousId]" accessTokenId="accessTokenId" />
	</flow>

	<flow name="delete-task-list">
		<google-tasks:delete-task-list
			config-ref="Google_Tasks" taskListId="#[payload.taskListId]"
			accessTokenId="accessTokenId" />
	</flow>

	<flow name="get-task-lists">
		<google-tasks:get-task-lists config-ref="Google_Tasks"
			accessTokenId="accessTokenId" />
	</flow>

	<flow name="get-tasks">
		<google-tasks:get-tasks config-ref="Google_Tasks"
			taskListId="#[payload.taskListId]" accessTokenId="accessTokenId"
			showcompleted="#[payload.showcompleted]" 
			showHidden="#[payload.showHidden]" />
	</flow>

	<flow name="get-task-by-id">
		<google-tasks:get-task-by-id config-ref="Google_Tasks"
			accessTokenId="accessTokenId" taskListId="#[payload.taskListId]"
			taskId="#[payload.taskId]" />
	</flow>

	<flow name="clear-tasks">
		<google-tasks:clear-tasks config-ref="Google_Tasks"
			taskListId="#[payload.taskListId]" accessTokenId="accessTokenId" />
	</flow>

	<flow name="update-task">
		<google-tasks:update-task config-ref="Google_Tasks"
			taskListId="#[payload.taskListId]" taskId="#[payload.taskId]" task-ref="#[payload.taskRef]" accessTokenId="accessTokenId" />
	</flow>
</mule>
